<div class="col-md-6">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Função</th>
        <th>Salário</th>
        </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.empId}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.designation}}</td>
        <td>R$ {{employee.salary}}</td>
        <td><button class="btn btn-danger" (click)="deleteEmployee(employee)">Deletar</button></td>
      </tr>
    </tbody>
  </table>
</div>